<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OKa Youtube Player</title>

    <link href="components/bootstrap.min.css" rel="stylesheet">
    <link href="components/videogular.min.css" rel="stylesheet">
</head>
<body class="with-navbar-top" ng-app="oka" ng-class="{'no-scroll':playing_id}">
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavBarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Iniciar Navegação</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">OKa</span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a role="button" onclick="return false;" data-toggle="modal" data-target="#config"><span class="glyphicon glyphicon-cog"></span></a></li>
            </ul>
            <form class="navbar-form navbar-left" ng-submit="forceSearch()">
                <div class="input-group">
                    <label for="karaoke" class="input-group-addon"><input type="checkbox" id="karaoke" ng-model="$root.karaoke"> <span class="glyphicon glyphicon-headphones"></span> <span ng-show="karaoke">Karaoke</span></label>
                    <input type="text" class="form-control" placeholder="Buscar por..." ng-model="$root.query">
                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <div class="panel" role="button" ng-repeat="video in videos | filter: { title: getQuery() }" ng-click="$root.playing_id = video.id;">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <img ng-if="video.thumbnail_filename" ng-src="{{ video.thumbnail_filename|sourceUrl }}" class="img-rounded img-responsive">
                    <img ng-if="!video.thumbnail_filename" src="imgs/no-thumbnail.png" class="img-rounded img-responsive">
                </div>
                <div class="col-xs-8">
                    <h4>{{ video.title }}<br><small>{{ video.status|statusVerbose }}</small></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-show="ytsearch.length > 0">
    <h3>Busca no YouTube</h3>
    <div class="panel" ng-repeat="video in ytsearch" role="button" ng-click="$root.playing_id = video.id.videoId;">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4"><img ng-src="{{ video.snippet.thumbnails.medium.url }}" class="img-rounded img-responsive"></div>
                <div class="col-xs-8">
                    <h4>{{ video.snippet.title }}</h4>
                    <p><strong>Canal:</strong> {{ video.snippet.channelTitle }}</p>
                    <p><strong>ID:</strong> {{ video.id.videoId }}</p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center" ng-show="ytsearch_nextPageToken && !ytsearch_loadingnext"><button type="button" class="btn btn-lg btn-primary" ng-click="ytsearch_loadMore()">Carregar mais...</button></p>
    <p class="text-center" ng-show="ytsearch_loadingnext"><small>Carregando...</small></p>
</div>
<div class="player" ng-if="playing_id">
    <div class="loading" ng-if="playing.percent < 100"><div class="loading-progress" ng-style="{width: playing.percent + '%'}">{{ playing.percent }}%</div></div>
    <div class="video" ng-if="playing.status == 2 && playing.filename">
        <videogular vg-auto-play="true" vg-player-ready="$API.toggleFullScreen();" vg-complete="$root.playing_id = null;" vg-autohide-cursor="true">
            <vg-media vg-src="[{src: sourceUrl(playing.filename), type: 'video/mp4'}]"></vg-media>

            <vg-controls vg-autohide="true">
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
        </videogular>
    </div>
</div>

<div class="modal fade" id="config" ng-controller="ConfigCtrl">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h5 class="modal-title">Configurações</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="format">Baixar com qualidade</label>
                    <select id="format" class="form-control" ng-model="config.format">
                        <option value="best">Melhor</option>
                        <option value="720">720p</option>
                        <option value="480">480p</option>
                        <option value="240">240p</option>
                    </select>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li><a role="button" onclick="return false;" ng-click="clear()">Apagar todas as informações</a></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    function jqueryCorrect(){
        if(typeof module !== 'undefined') {
            window.$ = window.jQuery = module.exports;
        }
    }
</script>

<script src="components/jquery.min.js" type="text/javascript" onload="jqueryCorrect()"></script>
<script src="components/bootstrap.min.js" type="text/javascript"></script>
<script src="components/angular.min.js" type="text/javascript"></script>
<script src="components/angular-sanitize.min.js" type="text/javascript"></script>
<script src="components/videogular.min.js" type="text/javascript"></script>
<script src="components/vg-controls.min.js" type="text/javascript"></script>
<script src="components/angular-debounce.js" type="text/javascript"></script>
<script src="components/hide-cursor.js" type="text/javascript"></script>

<script src="oka/NavBarCtrl.js" type="text/javascript"></script>
<script src="oka/ConfigCtrl.js" type="text/javascript"></script>
<script src="oka/app.js" type="text/javascript"></script>
</body>
</html>